.add-cell {
	position: relative;
	opacity: 0;
	transition: opacity 0.2s ease-in 0.1s;
	margin: 8px 0;

	&:hover {
		opacity: 1;
	}

	&.force-visible {
		opacity: 1;
	}

	.divider {
		position: absolute;
		top: 50%;
		bottom: 50%;
		right: 2.5%;
		left: 2.5%;
		border-bottom: 1px solid gray;
		width: 95%;
		z-index: -1;
	}

	.add-buttons {
		display: flex;
		justify-content: center;

		button {
			margin: 0 20px;
		}
	}
}
